.msg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 600px;
    margin: 0px auto;
    padding: 2%;
    background-color: white;
    border-radius: 10px;
    overflow-y:auto;
    overflow-x:hidden;
}

.close-chat {
    width: 100%;
    text-align: end;
    padding: 15px;
}

#msg {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px 15px;
    max-width: 80%;
   
    box-shadow: 0px 0px 1px rgb(98, 98, 98);
    color: white;
    margin-top: 3px;
}

.userMessage {
    background-color: #43c0ea;
    text-align: end;
    margin-left: auto;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
}

.senderMessage {
    background-color: #F0C322;
    margin-right: auto;
    text-align: start;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
}

#input-chat {
    width: 75%;
    height: 100%;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 0px 5px rgb(98, 98, 98);
}

#chat-btn {
    margin-left: 10px;
    width: 20%;
}

.chat-container {
    height: 100%;
}


.messages-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px;
    overflow-y:auto;
    overflow-x:hidden;
}

.input-container {
    display: flex;
    height: 100%;
}

.test {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.messages-component {
    height: 100%;
}

