
#input-joke {
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto;
}

#input-joke input {
    width: 70%;
    border-radius: 5px;
    padding-left: 10px;

}

#submit {
    background-color: #43c0ea;
    width: 20%;
    height: 40px;
    color: whitesmoke;
    border-radius: 10px;
    text-shadow: 1px 1px black;
    cursor: pointer;
}

