.background {
    display: flex;
    width: 100%;
    height: 100vh;
    background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

#main-container{ 
  height: 708px;
  border: 1px solid black; 
  border-radius: 15px;
  width: 450px;
  margin: auto;
}

#main-container {
    background-image: url('../images/haha.png');
    background-color: #f6d86e;
    background-size: 20%;
} 

  /* Tab Navigation */
  ul.nav {
    width: 100%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid #d6b645; */
    border-radius: 10px;

  }
   
  ul.nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
  }


  ul.nav li:hover {
    background: rgba(50, 224, 196, 0.15);
  }
  ul.nav li.active {
    background: #ddc055;
    border-radius: 10px;
    height: 60px;
  } 

    
  /* Tab Content Styles  */
  .TabContent {
    text-align: center;
  }
